# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
DerivedData/

## Ignore when build
.DS_Store
.idea
*.xcodeproj/xcuserdata/*
build/W3bStream.build
build/XCBuildData
build
out
Example/Teeee/Simulator
Example/Teeee/Device
